@use '../../assets/Common.scss' as c;

.card {
  background-color: rgb(187, 62, 3);
  border-radius: 12px;
  padding: 2em;
  box-shadow: 0 6px 18px rgba(51,44,36,0.06);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: #3e3a39;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 25px rgba(62,58,57,0.15);
}
