@use '/src/assets/Common.scss' as c;

body {
  background-color: #bb3e03;
  color: #333;
  font-family: Arial, sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #bb3e03;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}